@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700");

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    display: block;
    margin: 0;
    font-weight: 300;
}

h1,
.h1 {
    font-size: 70px;
    line-height: 1.19;
    @media (--laptop) {
        font-size: 56px;
    }
    @media (--tablet) {
        font-size: 48px;
    }
    @media (--mediumTablet) {
        font-size: 44px;
    }
    @media (--mobile) {
        font-size: 38px;
    }
}

h2,
.h2 {
    font-size: 53px;
    @media (--laptop) {
        font-size: 42px;
    }
    @media (--tablet) {
        font-size: 38px;
    }
    @media (--mediumTablet) {
        font-size: 34px;
    }
    @media (--mobile) {
        font-size: 28px;
    }
}

h3,
.h3 {
    font-size: 34px;
    line-height: 1.25;
    @media (--laptop) {
        font-size: 30px;
    }
    @media (--tablet) {
        font-size: 26px;
    }
    @media (--mobile) {
        font-size: 20px;
    }
}

h4,
.h4 {
    font-size: 20px;
    @media (--tablet) {
        font-size: 18px;
    }
}

p {
    line-height: 1.65;
    margin: 0;
    margin-bottom: 32px;
    @media (--mobile) {
        margin-bottom: 20px;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.preamble,
.preamble p {
    font-size: 20px;
    line-height: 1.6;
    @media (--tablet) {
        font-size: 18px;
    }
    @media (--mobile) {
        font-size: 16px;
    }
}

.preamble a,
.content a {
    color: var(--primaryColor);
    &:hover {
        color: var(--secondaryColor);
    }
}

.content {
    & ul,
    & ol {
        list-style: none;
        font-size: 16px;
        line-height: 1.75;
        margin-bottom: 20px;
        @media (--mobile) {
            font-size: 15px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    & li {
        position: relative;
        padding-left: 20px;
        &::before {
            content: "•";
            position: absolute;
            left: 0;
            top: -2px;
            font-size: 18px;
            color: var(--secondaryColor);
        }
    }
}

.content p {
    margin-bottom: 26px;
    @media (--mobile) {
        margin-bottom: 20px;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.content h2 {
    position: relative;
    color: var(--primaryColor);
    margin-bottom: 30px;
    margin-left: -5px;
    @media (--mobile) {
        margin-bottom: 20px;
        margin-left: -2px;
    }
    &::after {
        content: "";
        position: absolute;
        left: -41px;
        top: -4px;
        width: 7px;
        height: 68px;
        background-color: var(--secondaryColor);
        display: inline-block;
        transform: skew(-9deg);
        margin-left: 2px;
        @media (--laptop) {
            width: 5px;
            height: 60px;
            transform: skew(-8deg);
            left: -26px;
        }
        @media (--largeTablet) {
            display: none;
        }
    }
}
